form {
    display: flex;
    flex-direction: row;
    width: 350px;
    height: auto;
    padding: 20px;
    margin-left: 10px;
    background-color: #1F2833;
}

textarea {
    height: 100px;
}

.container {
    margin: 10px
}

input {
    margin-top: 0px;
}
